.roulette {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin: 18px 0 0 0;
    height: 56px;
    background-image: url("../img/nums.png");
    background-repeat: repeat;
    background-position: 0px 0px;
    background-size: cover;
}

.rolling .roulette:after {
    width: 3px;
    height: 56px;
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    content: '';
}


.jackpot {
    height: 90px;
    display: flex;
    justify-content:center;
    
  }
    .jackpot > ul {
      height: 90px;
      padding-inline-start: 0px;
     
    }
      .jackpot > ul li {
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 0;
      }
        .jackpot > ul li span {
          width: 50px;
          height: 50px;
          border-radius: 50px;
          color: #fff;
          display: block;
          font-weight: 500;
          font-size: 20px;
          text-align: center;
          line-height: 50px;
        }
        .jackpot > ul li span.dark {
          background: #000000;
        }
        .jackpot > ul li span.red {
          background: #ff1900;
        }
        .jackpot > ul li span.green {
          background: #17ca38;
        }
   